.videoMoreIcon {
    width: 40px;
    height: 40px;
    display: flex;
    position: absolute;
    top: 2px;
    right: -19px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid transparent;
    margin-right: 7.5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in, border 0.4s ease-in;
    z-index: 300;
}

.videoMoreIcon:active {
    transition: none;
    border: 2px solid #e5e5e5;
    background-color: #e5e5e5;
}

.videoMoreIconHidden {
    display: none;
}

.videoCard:hover .videoMoreIcon {
    display: flex;
}