/* headerBurgerMenuIcon */
.burgerMenuIcon {
   width: 40px;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   border: 2px solid transparent;
   transition: border 0.4s ease-in-out;
   cursor: pointer;
   margin-bottom: 2px;
}

.burgerMenuTransitionActive {
   background-color: #e5e5e5;
   transition: border 0.4s ease-in-out, background-color 0.1s ease-in-out;
}

.burgerMenuTransitionActiveDark {
   background-color: #272727;
   transition: border 0.4s ease-in-out, background-color 0.1s ease-in-out;
}

.burgerMenuIconActive {
   transition: none;
   border: 2px solid #cecece;
   background-color: #cecece;
}

.burgerMenuIconActiveDark {
   transition: none;
   border: 2px solid #3d3d3d;
   background-color: #3d3d3d;
}

.burgerMenuIconActive2 {
   transition: none;
   border: 2px solid #e5e5e5;
   background-color: #e5e5e5;
}

.burgerMenuIconActive2Dark {
   transition: none;
   border: 2px solid #272727;
   background-color: #272727;
}

.burgerMenuIconHover {
   background-color: #e5e5e5 !important;
}

.burgerMenuIconHoverDark {
   background-color: #272727 !important;
}

/* headerMoreIcon */
.headerMoreIcon {
   width: 40px;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   border: 2px solid transparent;
   margin-right: 7.5px;
   cursor: pointer;
   transition: background-color 0.1s ease-in-out, border 0.4s ease-in-out;
   z-index: 300;
   font-size: 18px;
}

.headerMoreIconDark {
   width: 40px;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   border: 2px solid transparent;
   margin-right: 7.5px;
   cursor: pointer;
   transition: background-color 0.1s ease-in-out, border 0.4s ease-in-out;
   z-index: 300;
   font-size: 18px;
}

.headerMoreIcon:active {
   transition: none;
   border: 2px solid #e5e5e5;
   background-color: #e5e5e5;
}

.headerMoreIconDark:active {
   transition: none;
   border: 2px solid #272727;
   background-color: #272727;
}
